<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--定义移动端缩放，比例变化-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <!--css引入-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>


<!--nav:导航部分-->
<!--条:segment;黑色:inverted反转色-->
<nav class="ui attached segment  m-padded-tb-min m-shadow-small" style="background: #393D49;">
    <div class="ui container">
        <!--组件部分-->
        <div class="ui inverted secondary stackable menu fluid large">
            <!--3个标志部分-->
            <a href="/index"><h1 class="ui teal header item">MBlog</h1></a>
            <a href="#" class="active item m-text-lfat m-mobile-hide" id="002"><i class="home icon"></i>博客</a>
            <a href="/admin/types_manage" class="item m-text-lfat m-mobile-hide" id="003"><i class="idea icon"></i>分类</a>
            <a href="#" class="item m-text-lfat m-mobile-hide" id="004"><i class="tags icon"></i>标签</a>
            <!--用户登录导航栏-->
            <div class="right menu m-mobile-hide item  m-padded-tb-min" id="005">
                <div class=" ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="/image/4.png">
                        admin
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/admin/blogs_manage" class="item m-text-thin ">个人中心</a>
                        <a href="/logout" class="item m-text-thin ">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu icon button m-right-top m-mobile-show" id="001" style="background: #393D49;">
        <div class="ui vertical animated button tiny">
            <div class="hidden content ">菜单</div>
            <div class="visible content ">
                <i class="sidebar icon"></i>
            </div>
        </div>
    </a>
</nav>
<!--二级导航:pointing:下面有个小箭头-->
<div class="ui container m-container-normal">
    <div class="ui  pointing menu m-margin-tb-large">
        <div class="right menu">
            <a href="blog_input.html" class="item">发布</a>
            <a href="#" class="active teal item m-text-max">列表</a>
        </div>
    </div>
</div>

<!--中间查询内容-->
<div class="m-padded-tb-small">
    <div class="ui container  m-container-normal ">
        <h2 style="text-align: center;color: #393D49" class="ui block header m-text-spaced attached">
            博客列表
        </h2>
        <!--搜索表单-->
        <form action="#" method="post" class="ui form segment m-padded-b-min attached">
            <!--fields把一行分为很多列并排-->
            <div class="inline fields">
                <!--搜索框-->
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <!--下拉栏-->
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1">类型一</div>
                            <div class="item" data-value="2">类型二</div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="field">
                    <div class="ui checkbox m-margin-lr-medium">
                        <input type="checkbox" name="recommend" id="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui teal small button m-margin-lr-medium m-margin-l-mmax "><!--m-margin-tb-small--><i
                            class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </form>
        <!--表格-->
        <table class="ui attached table unstackable center aligned">
            <thead>
            <tr>
                <th>标题</th>
                <th>类型</th>
                <th>推荐</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>认知升级</td>
                <td>推荐</td>
                <td>19-3-22</td>
                <td>
                    <a href="#" class="ui mini  button">编辑</a>
                    <a href="#" class="ui mini button">删除</a>
                </td>
            </tr>
            <tr>
                <td>Jamie</td>
                <td>认知升级</td>
                <td>推荐</td>
                <td>时间</td>
                <td>
                    <a href="#" class="ui mini  button">编辑</a>
                    <a href="#" class="ui mini button">删除</a>
                </td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Denied</td>
                <td>22</td>
                <td>Female</td>
                <td>
                    <a href="#" class="ui mini  button">编辑</a>
                    <a href="#" class="ui mini button">删除</a>
                </td>
            </tr>
            </tbody>
            <!--翻页功能-->
            <tfoot>
            <tr>
                <!--th colspan是合并单元格-->
                <!--上下翻页-->
                <th colspan="6" style="text-align: left">
                    <div class="ui small menu pagination">
                        <div class="item"><a th:href="@{/admin/blogs}">首页</a></div>
                        <div class="item"><a
                                th:href="@{/admin/blogs(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                        </div>
                        <div class="item"><a
                                th:href="@{/admin/blogs(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                        </div>
                        <div class="item"><a th:href="@{/admin/blogs(pageNum=${pageInfo.pages})}">尾页</a></div>
                    </div>
                    <div class="ui segment m-inline-block small m-margin-lr-medium">
                        <p>当前第<span th:text="${pageInfo.pageNum}">1
                        </span>页，总<span th:text="${pageInfo.pages}">12</span>
                            页，共<span th:text="${pageInfo.total}">36</span>条记录</p>
                    </div>
                    <a th:href="@{/admin/blogs/input}" class="ui small blue button  m-margin-l-mmax">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>



<!--jquery引入-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--js引入-->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<!--js-->
<script>
    /*适应手机端*/
    $("#001").click(function () {
        $("#002").toggleClass('m-mobile-hide');
        $("#003").toggleClass('m-mobile-hide');
        $("#004").toggleClass('m-mobile-hide');
        $("#005").toggleClass('m-mobile-hide');
        $("#006").toggleClass('m-mobile-hide');
        $("#007").toggleClass('m-mobile-hide');
    });
    /*头像下拉*/
    $('.ui.dropdown').dropdown({});


</script>
</body>
</html>