/*背景图*/
body {
    background: url("../image/brickwall.png");
}
/*阴影效果*/
.m-shadow-small {
    box-shadow: 0  8px 12px rgba(0,0,0,0.2) !important;
    /*浏览器适配*/
    -webkit-box-shadow: 0  8px 12px rgba(0,0,0,0.2) !important;
}
/*自定义内部填充距离顶部和底部的大小*/
.m-padded-t-min {
    padding-top: 0.01em !important;
    padding-bottom: 1em !important;
}
.m-padded-b-min {
    padding-top: 1em !important;
    padding-bottom: 0.01em !important;
}
.m-padded-tb-min {
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb-small {
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-medium {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-large-responsive {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-padded-t-massive {
    padding-top: 7em !important;
}
.m-padded-lr-responsive {
    padding-left: 3em !important;
    padding-right: 3em !important;
}
.m-padded-l {
    padding-left: 5em !important;

}
.m-padded-r {
    padding-left: 10em !important;

}
.m-padded-lr-massive {
    padding-left: 5em !important;
    padding-right: 5em !important;

}
.m-padded-small {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-top: 0.5em !important;

}
.m-padded-min {
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
    padding-bottom: 0.3em !important;
    padding-top: 0.2em !important;

}
/*-------------定义文字格式------------*/
.m-text-black {
    color: #393D49;
}
/*文字大小*/
.m-text-max{
    font-weight: 900 !important;
}
.m-text-lfat{
    font-weight: 800 !important;
}
.m-text-fat{
    font-weight: 600 !important;
}
.m-text-thin{
    font-weight: 400 !important;
}
/*字间距*/
.m-text-spaced {
    letter-spacing: 1px !important;
}
/*行间距*/
.m-text-lined {
    line-height: 1.8 !important;
}
.m-text-small-lined {
    line-height: 0.8 !important;
}
/*透明度*/
.m-min-opacity {
    opacity: 0.6 !important;
}
.m-max-opacity {
    opacity: 0.8 !important;
}
/*-------文字显示的属性------*/
/*同一行*/
.m-inline-block {
    display: inline-block !important;
}
/*---------背景色---------*/
.m-landing-color-mid {
    background-color: silver !important;
    background-size: cover !important;
}
/*--------标签和标签的外部间距---------*/
.m-margin-tb-min {
    margin-top: 0.1em !important;
    margin-bottom: 0.1em !important;
}
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-tb-small {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.m-margin-tb-medium {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
.m-margin-tb-large {
     margin-top: 3em !important;
     margin-bottom: 3em !important;
}
.m-margin-l-max {
    margin-left: 5em !important;
}
.m-margin-l-min {
    margin-left: 0.1em !important;
}

.m-margin-l-mmax {
    margin-left: 9em !important;
}
.m-margin-mid {
    margin-left: 15em !important;
}
.m-margin-r-max {
    margin-left: auto !important;
    margin-right: 0em !important;
}
.m-margin-r-min {
    margin-right: 0.1em !important;
}
.m-margin-lr-large {
    margin-left: 3em !important;
    margin-right: 3em !important;
}
.m-margin-lr-medium {
    margin-left: 2em !important;
    margin-right: 2em !important;
}
.m-margin-lr-small {
    margin-left: 1em !important;
    margin-right: 1em !important;
}
.m-margin-lr-tiny {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}
.m-margin-t-small {
    margin-top: 1em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}
.m-margin-bottom-medium {
    margin-bottom: 2em !important;
}
/*--------container的大小---------*/
.m-container-min {
    width: 40em !important;
    margin: auto !important;
}
.m-container-small {
    width: 60em !important;
    margin: auto !important;
}
.m-container-normal {
    width: 70em !important;
    margin: auto !important;
}
/*组件position*/
.m-fixed {
    /*相对页面保存固定，上下滚动不变*/
    position: fixed !important;
    /*最上层*/
    z-index: 1 !important;
}
/*置顶靠右*/
.m-right-top {
    position: absolute;
    right: 0 !important;
    top: 0 !important;
}
/*置底靠右*/
.m-right-bottom {
    position: absolute;
    right: 2em !important;
    bottom: 3em !important;
}
/*靠右*/
.m-right {
    position: absolute;
    right: 13px !important;
}
/*适配手机*/
.m-mobile-show{
    display: none !important;
}

@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-padded-tb-large-responsive {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }
    .m-mobile-wide {
        width: 100%;
    }
}

.m-img {
    border: none !important;
}
.div{
    border:1px solid transparent !important;
}

.m-tag-color {
    color: #9c3328 !important;
}