<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--定义移动端缩放，比例变化-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <!--css引入-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>


<!--nav:导航部分-->
<!--条:segment;黑色:inverted反转色-->
<nav class="ui attached segment m-padded-tb-min m-shadow-small" style="background: #393D49;">
    <div class="ui container">
        <!--组件部分-->
        <div class="ui inverted secondary stackable menu fluid large">
            <!--五个标志部分-->
            <a href=index.html><h1 class="ui teal header item">MBlog</h1></a>
            <a href="index.html" class="item m-text-lfat m-mobile-hide" id="002"><i class="home icon"></i>首页</a>
            <a href="types.html" class="active item m-text-lfat m-mobile-hide" id="003"><i class="idea icon"></i>分类</a>
            <a href="tags.html" class="item m-text-lfat m-mobile-hide" id="004"><i class="tags icon"></i>标签</a>
            <a href="archives.html" class="item m-text-lfat m-mobile-hide" id="005"><i class="clone icon"></i>归档</a>
            <a href="about/01.html" class="item m-text-lfat m-mobile-hide" id="006"><i class="info icon"></i>关于网站</a>
            <!--搜索栏-->
            <div class="right item m-mobile-hide" id="007">
                <div class="ui icon input">
                    <input type="text" placeholder="Search">
                    <i class="search icon"></i>
                </div>
            </div>
            <!--登录注册-->
            <a href="/login" class="active item m-text-lfat m-mobile-hide" id="008"><i class="login icon"></i>登录</a>
            <a href="/register" class="item m-text-lfat m-mobile-hide" id="009"><i class="register icon"></i>注册</a>
        </div>
    </div>

    <a href="#" class="ui menu icon button m-right-top m-mobile-show" id="001" style="background: #393D49;">
        <div class="ui vertical animated button tiny">
            <div class="hidden content ">菜单</div>
            <div class="visible content ">
                <i class="sidebar icon"></i>
            </div>
        </div>
    </a>

</nav>


<!--中间内容-->
<div class="m-padded-tb-medium ">
    <div class="ui container m-container-small">
        <!--中间的顶部-->
        <div class="ui top teal attached segment">
            <div class="ui two column middle aligned grid">
                <div class="column">
                    <h2 class="ui teal header m-text-spaced m-text-thin">Types</h2>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.total}">
                    14 </h2> 类
                </div>
            </div>
        </div>
        <!--分类-->
        <div class="ui attached segment m-padded-tb-small">
            <!--分类的标志-->
            <div class="ui fluid vertical attached menu ">
                <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item"
                   th:each="type:${types}">
                    <span th:text="${type.name}" class="m-text-fat">认知升级</span>
                    <div class="ui blue basic left pointing label" th:text="${type.blogs.size()}">13</div>
                </a>
            </div>
        </div>
        <!--下面的博客的内容-->
        <div class="ui  segment">
            <!--博客内容-->
            <div class="ui padded  segment m-padded-tb-medium" th:each="blog:${pageInfo.list}">
                <div class="ui grid stackable mobile reversed">
                    <!--博客左边文字部分-->
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                        <p class="m-min-opacity m-text-spaced m-text-lined m-text-fat"
                           th:text="|${blog.description}......|">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <!--博客文字的下面信息-->
                        <div class="ui grid ">
                            <!--发布人的头像，浏览次数，更新时间-->
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <!--发布人头像-->
                                        <img src="https://picsum.photos/id/1005/100/100" alt=""
                                             class="ui avatar image">
                                        <!--发布人名字-->
                                        <div class="content ">
                                            <a href="#" th:text="${blog.nickname}" class="header">泮壹标</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <!--发布时间-->
                                        <i class="clock icon vertical-align"></i>
                                        <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-04-09</span>
                                    </div>
                                    <div class="item">
                                        <!--浏览次数-->
                                        <i class="eye icon "></i> <span th:text="${blog.views}">2342</span>
                                    </div>
                                </div>
                            </div>
                            <!--文章的tag标签-->
                            <div class="five wide column right aligned ">
                                <div href="#" target="_blank" class="ui label ">认知升级</div>
                            </div>
                        </div>
                    </div>
                    <!--博客左边图片部分-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1010/750/450" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded  segment m-padded-tb-medium">
                <div class="ui grid stackable mobile reversed">
                    <!--博客左边文字部分-->
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                        <p class="m-min-opacity m-text-spaced m-text-lined m-text-fat"
                           th:text="|${blog.description}......|">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <!--博客左边文字的下面信息-->
                        <div class="ui grid ">
                            <!--发布人的头像，浏览次数，更新时间-->
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <!--发布人头像-->
                                        <img src="https://picsum.photos/id/1005/100/100" alt=""
                                             class="ui avatar image">
                                        <!--发布人名字-->
                                        <div class="content "><a href="#" th:text="${blog.nickname}"
                                                                 class="header">泮壹标</a></div>
                                    </div>
                                    <div class="item">
                                        <!--发布时间-->
                                        <i class="clock icon"></i><span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-04-09</span>
                                    </div>
                                    <div class="item">
                                        <!--浏览次数-->
                                        <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                    </div>
                                </div>
                            </div>
                            <!--文章的tag标签-->
                            <div class="five wide column right aligned ">
                                <div href="#" target="_blank" class="ui label ">认知升级</div>
                            </div>
                        </div>
                    </div>
                    <!--博客左边图片部分-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1010/750/450" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded  segment m-padded-tb-medium">
                <div class="ui grid stackable mobile reversed">
                    <!--博客左边文字部分-->
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                        <p class="m-min-opacity m-text-spaced m-text-lined m-text-fat"
                           th:text="|${blog.description}......|">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <!--博客左边文字的下面信息-->
                        <div class="ui grid ">
                            <!--发布人的头像，浏览次数，更新时间-->
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <!--发布人头像-->
                                        <img src="https://picsum.photos/id/1005/100/100" alt=""
                                             class="ui avatar image">
                                        <!--发布人名字-->
                                        <div class="content "><a href="#" th:text="${blog.nickname}"
                                                                 class="header">泮壹标</a></div>
                                    </div>
                                    <div class="item">
                                        <!--发布时间-->
                                        <i class="clock icon"></i><span
                                            th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-04-09</span>
                                    </div>
                                    <div class="item">
                                        <!--浏览次数-->
                                        <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                    </div>
                                </div>
                            </div>
                            <!--文章的tag标签-->
                            <div class="five wide column right aligned stackable">
                                <div href="#" target="_blank" class="ui label ">认知升级</div>
                            </div>
                        </div>
                    </div>
                    <!--博客左边图片部分-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1010/750/450" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--中间的尾部/翻页-->
        <div class="ui bottom attached vertical segment">
            <div class="ui middle aligned two column grid ">
                <!--左按钮-->
                <div class="left column" align="right">
                    <div class="ui animated item button">
                        <div class=" visible content ">
                            <a class="ui" style="color: #393D49"
                               th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                        </div>
                        <div class="hidden content m-padded-t-min">
                            <i class="left arrow icon"></i>
                        </div>
                    </div>
                </div>
                <!--右按钮-->
                <div class="right column" align="left">
                    <div class="ui animated item button">
                        <div class=" visible content ">
                            <a class="ui tiny m-text-max" style="color: #393D49"
                               th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                        </div>
                        <div class="hidden content m-padded-t-min">
                            <i class="right arrow icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<!--页面底部-->
<footer class="ui inverted attached segment m-padded-tb-medium " style="color: darkgrey">
    <div class="ui center aligned container">

        <div class="ui inverted divided grid stackable"><!--作用把页面分为16份-->
            <!--第一栏二维码-->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="image/5.jpeg" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--第二栏文字-->
            <div class="three wide column">
                <h4 class="ui inverted  m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item ">用户故事（User Story）</a>
                    <a href="#" class="item ">用户故事（User Story）</a>
                    <a href="#" class="item ">用户故事（User Story）</a>
                </div>
            </div>
            <!--第三栏文字-->
            <div class="three wide column">
                <h4 class="ui inverted m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item  m-text-thin m-text-lined">Email: pyb1997@qq.com</a>
                    <a href="#" class="item  m-text-thin ">QQ: 1875126370</a>

                </div>
            </div>
            <!--第四栏文字-->
            <div class="seven wide column">
                <div class="seven wide column">
                    <h4 class="ui inverted m-text-spaced">Blog</h4>
                    <p class="m-text-spaced m-text-fat m-text-lined m-min-opacity">
                        这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
        </div>
        <!--最底部的线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-spaced  m-min-opacity m-text-thin"> Copyright © 2020-2021 All Rights Reserved Designed by PYB</p>

    </div>
</footer>

<!--jquery引入-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--js引入-->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    /*适应手机端隐藏状态栏*/
    $("#001").click(function () {
        $("#002").toggleClass('m-mobile-hide');
        $("#003").toggleClass('m-mobile-hide');
        $("#004").toggleClass('m-mobile-hide');
        $("#005").toggleClass('m-mobile-hide');
        $("#006").toggleClass('m-mobile-hide');
        $("#007").toggleClass('m-mobile-hide');
        $("#008").toggleClass('m-mobile-hide');
        $("#009").toggleClass('m-mobile-hide');
    });


</script>
</body>
</html>